{% extends 'home/base.html' %}
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/hosting.css' %}">
    <script src="{% static 'home/hosting.js' %}"></script>
{% endblock %}
{% block nav %}
{% endblock nav %}

{% block content %}
    <div class="wrapper" style="position: relative;">
        <!-- Barra Lateral -->
        <nav id="sidebar">
            <button type="button" id="sidebarCollapse" class="btn btn-info"
                    style="position: absolute; top: 0; right: -42px; z-index: 999;">
                <i class="fas fa-align-left"></i>
                <span>
                <svg id="open" class="bi bi-chevron-double-right inout " width="1em" height="1em" viewBox="0 0 16 16"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z"
                          clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                          d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z"
                          clip-rule="evenodd" />
                </svg>
                <svg id="close" class="bi bi-chevron-double-left inout active" width="1em" height="1em"
                     viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                          d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd" />
                </svg>
            </span>
            </button>
            <div id="sidebar-wrap">
                <div class="sidebar-header text-right">
                    <h3>Crie seu evento</h3>
                </div>
                <h5>Menu</h5>
                <ul class="list-unstyled components" style="display: flex; align-items: stretch; flex-direction: column;">
                    <li id="basic-page" class="switch " data-target="#basic"> Informações Básicas </li>
                    <li id="ticket-page" class="switch" data-target="#ticket"> Opções de Ingresso </li>
                    <li id="term-page" class="switch" data-target="#term"> Termos e Condições </li>
                </ul>
            </div>
        </nav>
        <div id="content" class="container-fluid">
            <div class="container-md mx-auto" style="padding: 20px;padding-top: 40px; max-width: 768px;" id="content-box">
                <form method="POST" action="{% url 'booking' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="basic" class="form-page">
                        <h3 class="card-title">Informações Básicas</h3>
                        <p>Dê um nome ao seu evento e explique aos participantes por que eles devem comparecer. Adicione detalhes que destaquem o que torna o evento único.</p>
                        <div class="form-group">
                            <label for="title">Nome do Evento</label>
                            <input type="text" class="form-control" maxlength="50" placeholder="Título do Evento"
                                   name="event_name" id="event-name" required>
                        </div>
                        <div class="form-group">
                            <label for="organizer">Organizador</label>
                            <input type="text" class="form-control" maxlength="50"
                                   placeholder="Quem está organizando este evento?">
                        </div>
                        <hr>
                        <h3 class="card-title">Localização</h3>
                        <p>Escolha um local disponível ou adicione um novo local, se necessário.</p>
                        <div class="form-group">
                            <select name="venue" id="venue" class="custom-select">
                                {% for venue in venues %}
                                    <option value="{{ venue.id }}">{{ venue }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr>
                        <h3 class="card-title">Horário</h3>
                        <div class="form-group">
                            <label for="startdate">Data de Início</label>
                            <input type="date" name="startdate" value="{{ today }}" min="{{ today }}" max="{{ max_date }}"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="starttime">Horário de Início</label>
                            <input type="time" name="starttime" id="starttime" value="12:00" min="00:00" max="24:00"
                                   class="form-control">
                        </div>
                        <h3 class="card-title">Mídia</h3>
                        <p>Envie uma imagem para ser exibida na página do seu evento.</p>
                        <div class="form-group">
                            <label for="imageFile">Enviar Imagem</label>
                            <input type="file" name="imageFile" id="imageFile" class="form-control" required>
                        </div>
                    </div>
                    <div id="ticket" class="form-group form-page">
                        <div id="ticket-options">
                            <h3 class="card-title">Geral</h3>
                            <button class="btn btn-info">Gratuito</button>
                            <button class="btn btn-info">Pago</button>
                            <div class="form-group">
                                <label for="baseFee">Entrada Geral</label>
                                <input type="number" step="0.01" name="baseFee" id="baseFee" class="form-control"
                                       placeholder="R$30,00" required>
                            </div>
                        </div>
                        <input type="hidden" name="additionalTickets" id="additionalTickets" value="0">
                        <div class="form-group">
                            <input type="button" value="Adicionar mais +" class="btn btn-primary" id="add">
                        </div>
                    </div>
                    <div id="term" class="form-page" style="width: 100%;">
                        <h3 class="text-center">Termos e Condições para Cadastro de Eventos</h3>
                        <p>
                            Ao cadastrar um evento nesta plataforma, você concorda com os seguintes termos e condições:
                        </p>
                        <p>
                            Ao fornecer informações para cadastrar um evento, você concorda em fornecer informações precisas, atualizadas e
                            completas sobre o evento.
                        </p>
                        <p>
                            Você é responsável por todas as informações e conteúdos fornecidos durante o processo de cadastro do evento.
                            A plataforma não se responsabiliza por informações imprecisas ou inadequadas fornecidas pelo organizador do
                            evento.
                        </p>
                        <p>
                            Você confirma que possui autoridade e permissão para cadastrar o evento nesta plataforma, incluindo, mas não
                            se limitando a, obtenção de permissões necessárias de terceiros, quando aplicável.
                        </p>
                        <p>
                            Ao cadastrar um evento, você concorda em cumprir todas as leis, regulamentos e políticas aplicáveis,
                            incluindo, mas não se limitando a, leis de proteção ao consumidor, leis de privacidade e direitos autorais.
                        </p>
                        <p>
                            A plataforma se reserva o direito de revisar, editar ou remover qualquer evento cadastrado que viole estes
                            termos e condições ou que seja considerado inadequado, a critério exclusivo da plataforma.
                        </p>
                        <p>
                            A plataforma se reserva o direito de alterar estes termos e condições a qualquer momento, sem aviso prévio.
                            As alterações entrarão em vigor imediatamente após a publicação dos termos revisados nesta plataforma.
                        </p>
                        <p>
                            Ao cadastrar um evento nesta plataforma, você confirma que leu, compreendeu e concorda com estes termos e
                            condições.
                        </p>
                        <div class="ml-auto" style="width: 20%;">
                            <input type="checkbox" checked name="agree" id="agree">
                            <label for="agree">Eu concordo</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit" id="submit">Criar Evento</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
